html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #000000;
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    text-align: center;
    color: red;
    font-style: normal;
    /* [disabled]font-variant: normal; */
    font-weight: normal;
}

#clock {
    height: 80%;
    width: 80%;
    left: 10%;
    top: 10%;
    position: absolute;
}