html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

#animation {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 15%;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  display: grid;
  place-items: center;
  z-index: 1;
}

#animation:hover {
  background: rgba(255, 255, 255, 1);
}

#animation .material-symbols-outlined {
  font-size: 2.5rem;
  /* font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 100, 'opsz' 48; */
  color: #222;
}